<div>
    {{#showstatistics }}
        <h5>{{blockstatisticstitle}}</h5>

        {{#show_current_balls}}
            <strong>{{blockstatisticsballs}}:</strong> {{current_balls}}<br>
        {{/show_current_balls}}

        {{#show_mean_value}}
            <strong>{{blockstatisticsmaingrade}}:</strong> {{mean_value}}
        {{/show_mean_value}}
    {{/showstatistics }}
</div>

{{#show_rating_table}}
<div class="mt-4">
    <h5>{{blockleaderboardtitle}}</h5>

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">{{blockleaderboardname}}</th>
            <th scope="col">{{blockleaderboardballs}}</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
                {{#status}}
                    <tr>
                    <th scope="row">{{rang}}</th>
                    <td>
                        <b>
                            <a href="{{wwwroot}}/user/view.php?id={{id}}&amp;course={{courseid}}">
                                {{lastname}} {{firstname}}
                            </a>
                        </b>
                    </td>
                    <td><b>{{balls}}</b></td>
                {{/status}}
                {{^status}}
                    <tr>
                    <th scope="row">{{rang}}</th>
                    <td>
                        <a href="{{wwwroot}}/user/view.php?id={{id}}&amp;course={{courseid}}">
                            {{lastname}} {{firstname}}
                        </a>
                    </td>
                    <td>{{balls}}</td>
                {{/status}}
            {{/users}}
            
        </tbody>
    </table>
</div>
{{/show_rating_table}}

