<div>
    {{#show_statistics }}
        <h5>{{blockstatisticstitle}}</h5>

        {{#show_current_balls}}
            <div class="d-flex mt-2">
                <div>
                    <strong>{{blockstatisticsballs}}:</strong>
                </div>
                <div class="d-flex flex-column ml-2">
                    {{# current_balls}}
                        <div class="d-flex align-items-center justify-content-center">{{value}} <a href="#" class="badge bg-secondary text-white text-decoration-none ml-1" title="{{description}}">?</a></div>
                    {{/ current_balls}}
                </div>
            </div>
        {{/show_current_balls}}

        {{#show_mean_value}}
            <div class="d-flex mt-2">
                <div>
                    <strong>{{blockstatisticsmaingrade}}:</strong>
                </div>
                <div class="d-flex flex-column ml-2">
                    {{# mean_value }}
                        <div class="d-flex align-items-center justify-content-center">{{value}} <a href="#" class="badge bg-secondary text-white text-decoration-none ml-1" title="{{description}}">?</a></div>
                    {{/ mean_value }}
                </div>
            </div>
        {{/show_mean_value}}

        {{#show_mean_value_admin}}
            <div class="d-flex mt-2">
                <div>
                    <strong>{{blockstatisticsmaingradeadmin}}:</strong>
                </div>
                <div class="d-flex flex-column ml-2">
                    {{# mean_value_admin }}
                        <div class="d-flex align-items-center justify-content-center">{{value}} <a href="#" class="badge bg-secondary text-white text-decoration-none ml-1" title="{{description}}">?</a></div>
                    {{/ mean_value_admin }}
                </div>
            </div>
        {{/show_mean_value_admin}}

        {{#show_task_count}}
            <h6 class="mt-4">Количество завершенных заданий</h6>
            <div class="d-flex flex-column ml-4">
                {{# task_count }}
                    <div class="mt-1">{{description}}: {{value}}</div>
                {{/ task_count }}
            </div>
        {{/show_task_count}}
        
    {{/show_statistics }}
</>

{{#show_rating_table}}
<div class="mt-4">
    <h5>{{blockleaderboardtitle}}</h5>

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">{{blockleaderboardname}}</th>
            <th scope="col">{{blockleaderboardballs}}</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
                {{#status}}
                    <tr>
                    <th scope="row">{{rang}}</th>
                    <td>
                        <b>
                            <a href="{{wwwroot}}/user/view.php?id={{id}}&amp;course={{courseid}}">
                                {{lastname}} {{firstname}}
                            </a>
                        </b>
                    </td>
                    <td><b>{{balls}}</b></td>
                {{/status}}
                {{^status}}
                    <tr>
                    <th scope="row">{{rang}}</th>
                    <td>
                        <a href="{{wwwroot}}/user/view.php?id={{id}}&amp;course={{courseid}}">
                            {{lastname}} {{firstname}}
                        </a>
                    </td>
                    <td>{{balls}}</td>
                {{/status}}
            {{/users}}
            
        </tbody>
    </table>
</div>
{{/show_rating_table}}

