<div class="alert alert-info">
    <h4>Ваша статистика</h4>
    {{#show_current_balls}}
    <strong>Всего баллов: </strong> {{current_balls}}<br>
    {{/show_current_balls}}
    {{#show_mean_value}}
    <strong>Ср. оценка: </strong> {{mean_value}}
    {{/show_mean_value}}
</div>